# SPDX-License-Identifier: GPL-2.0
# Author: xunicatt
# Project: tiny 
# Copyright (c) 2026 xunicatt <contact.aniket.biswas@gmail.com>

CompileFlags:
  Add: [-ffreestanding]
  Remove: [-mstm8, --opt-code-size, --disable-warning]
  Compiler: sdcc
